.quarto-board {
    background: url(./board.png) no-repeat center;
    width: 400px;
    height: 300px;
    margin: auto;
    position: relative;
}

.quarto-piece-0,
.quarto-piece-1,
.quarto-piece-2,
.quarto-piece-3,
.quarto-piece-4,
.quarto-piece-5,
.quarto-piece-6,
.quarto-piece-7,
.quarto-piece-8,
.quarto-piece-9,
.quarto-piece-10,
.quarto-piece-11,
.quarto-piece-12,
.quarto-piece-13,
.quarto-piece-14,
.quarto-piece-15 {
    width: 53px;
    height: 89px;
    background-origin: border-box;
    color: transparent;
}

.quarto-piece-0 {
    background: url(./0.png) no-repeat center bottom 0px;
}

.quarto-piece-1 {
    background: url(./1.png) no-repeat center bottom -2px;
}

.quarto-piece-2 {
    background: url(./2.png) no-repeat center bottom -4px;
}

.quarto-piece-3 {
    background: url(./3.png) no-repeat center bottom -5px;
}

.quarto-piece-4 {
    background: url(./4.png) no-repeat center bottom -1px;
}

.quarto-piece-5 {
    background: url(./5.png) no-repeat center bottom -1px;
}

.quarto-piece-6 {
    background: url(./6.png) no-repeat center bottom -4px;
}

.quarto-piece-7 {
    background: url(./7.png) no-repeat center bottom -6px;
}

.quarto-piece-8 {
    background: url(./8.png) no-repeat center bottom -1px;
}

.quarto-piece-9 {
    background: url(./9.png) no-repeat center bottom 2px;
}

.quarto-piece-10 {
    background: url(./10.png) no-repeat center bottom -5px;
}

.quarto-piece-11 {
    background: url(./11.png) no-repeat center bottom -5px;
}

.quarto-piece-12 {
    background: url(./12.png) no-repeat center bottom 1px;
}

.quarto-piece-13 {
    background: url(./13.png) no-repeat center bottom 0px;
}

.quarto-piece-14 {
    background: url(./14.png) no-repeat center bottom -4px;
}

.quarto-piece-15 {
    background: url(./15.png) no-repeat center bottom -3px;
}

.quarto-position-0,
.quarto-position-1,
.quarto-position-2,
.quarto-position-3,
.quarto-position-4,
.quarto-position-5,
.quarto-position-6,
.quarto-position-7,
.quarto-position-8,
.quarto-position-9,
.quarto-position-10,
.quarto-position-11,
.quarto-position-12,
.quarto-position-13,
.quarto-position-14,
.quarto-position-15,
.quarto-position-16 {
    position: absolute;
    width: 53px;
    height: 89px;
    text-align: center;
    padding-top: 65px;
    font-weight: bold;
}

.quarto-position-0 {
    top: 1px;
    left: 101px;
    z-index: 3;
}

.quarto-position-1 {
    top: -8px;
    left: 145px;
    z-index: 2;
}

.quarto-position-2 {
    top: -18px;
    left: 189px;
    z-index: 1;
}

.quarto-position-3 {
    top: -28px;
    left: 229px;
    z-index: 0;
}

.quarto-position-4 {
    top: 32px;
    left: 109px;
    z-index: 4;
}

.quarto-position-5 {
    top: 20px;
    left: 157px;
    z-index: 3;
}

.quarto-position-6 {
    top: 9px;
    left: 203px;
    z-index: 2;
}

.quarto-position-7 {
    top: -1px;
    left: 246px;
    z-index: 1;
}

.quarto-position-8 {
    top: 67px;
    left: 119px;
    z-index: 5;
}

.quarto-position-9 {
    top: 53px;
    left: 170px;
    z-index: 4;
}

.quarto-position-10 {
    top: 40px;
    left: 218px;
    z-index: 3;
}

.quarto-position-11 {
    top: 27px;
    left: 264px;
    z-index: 2;
}

.quarto-position-12 {
    top: 107px;
    left: 130px;
    z-index: 6;
}

.quarto-position-13 {
    top: 89px;
    left: 185px;
    z-index: 5;
}

.quarto-position-14 {
    top: 75px;
    left: 237px;
    z-index: 4;
}

.quarto-position-15 {
    top: 62px;
    left: 286px;
    z-index: 3;
}

.quarto-position-16 {
    bottom: 10px;
    left: 10px;
}

.quarto-board.quarto-win>:not(.quarto-win-line) {
    opacity: 0.75;
}

.quarto-reserve-used {
    opacity: 0;
}

.quarto-reserve {
    width: 400px !important;
    margin: auto;
    transform: scale(0.75);
}

.quarto-reserve .col {
    text-align: center;
    font-weight: bold;
    padding-top: 85px;
    color: inherit;
}